<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TICI_SPIMS.My.MySettings.spimsdbConnectionString"
            connectionString="Driver={MySQL ODBC 3.51 Driver};server=localhost;database=spimsdb;user=root;option=3"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>